body{
    font-family: 'Jost', sans-serif;
    background-color: #bdc3c7;
    }
    
    h1{
        font-family :'product sans' !important;
        color: #333;
        font-size: 50px;
        margin-top:50px;
        text-align:center;
    }
    #login{
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    #bt{
        background-color:green;
        border: 1px solid #ccc;
    }
    .error-message {
        color: red;
        font-size: 0.8em;
        margin-top: 5px;
    }
    
    #register{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .container {
        width: 500px;
        margin: 0 auto;
        padding: 40px;
        background-color:green;
        color:white;
        border: 1px solid #ccc;
        border-radius: 20px;
        box-shadow: 0 0 5px rgba(0, 0 , 0 0.1);
    }
    .legend {
        text-align: center;
        margin-bottom:20px;
    }
    .legend img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }
    @media only screen and (max-width: 500px){
        .container {
            width: 90%;
            padding-right:20px;
            padding-left:20px;
            margin:10px auto;
            padding-top: 10px;
            padding-bottom: 60px;
            /* height: 590px; */
    
        }
        .container h1 {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .legend {
            margin-top:25px;
        
        }
    }
    input[type="text"],
    input[type="password"]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    label {
        font-weight: bold;

    }
    .input-group{
        display: flex;
        flex-direction: column;
        margin: 0 5px 0 0;
    }
    a{
        text-decoration:none;
        color:#3d2525;
     }
     a:hover{
        text-decoration:none;
        color:#39e9e9;
    }
  
  